* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* shared styles */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    margin: 24px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}

/* main styles */
header {
    background-color: #FFFFFF;
}

nav {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
}

nav .menu a {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

.banner {
    background-image: url(/images/hero-bg.png);
    height: 674px;
    background-position: center;
    background-size: cover;
}

.banner .banner-container {
    height: 100%;
    background: #00000020;
}

.banner-content {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;   /* vertical center */
    align-items: center;       /* horizontal center */

    text-align: center;
    padding: 115px 120px 159px 120px;
}

.banner-badge {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px 8px 12px;
    background-color: #FFFFFF;
    color: #30B868;
    border-radius: 10000px;

}

.badge-dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #2eb86840;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px
}
.badge-dot-middle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #46916566;
    display: flex;
    align-items: center;
    justify-content: center;
}
.badge-dot-center {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #469165FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 16px;
    color: #FFFFFF;
}

.banner .highlight {
    color: #30B868;
}

.banner-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.banner-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.btn-primary {
    background: #30B868;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.btn-transparent {
    background: transparent;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #FFFFFF;
}

/* Section header */
.section-header {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-header h2 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 48px;
    margin-bottom: 16px;
}

.section-header p {
    font-size: 15px;
    color: #627382;
    margin-bottom: 44px;
}

/* Cards row */
.notes-card {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* Individual card */
.note-card {
    max-width: 322px;
    padding: 24px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 0px #0000000f;
    border-radius: 8px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Icon */
.card-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 45px 107px 0;
    background-color: #F95555;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-icon img {
    width: 32px;
    height: auto;
}

/* Card text */
.note-card h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 16px 0;
}

.note-card p {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin: 16px 0 45px;
}

.second-brain {
    background-color: #FFFFFF;
    padding: 120px 0;
}

.second-brain-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 60px;
}

.knowledge-image {
    max-width: 600px;
    border-radius: 12px;
}

.knowledge-content {
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.knowledge-content .second-brain-text {
    margin-bottom: 40px;
}

.knowledge-content .second-brain-text h5 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    line-height: 20px;
    color: #469165;
    text-transform: uppercase;
}

.knowledge-content .second-brain-text h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    line-height: 58px;
    color: #001931;
}

.knowledge-content .second-brain-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}

.knowledge-content .second-brain-list .list-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 6px;
}

.ready-to-think {
    background-color: #FFFFFF;
    padding: 0 0 120px;
}

.ready-to-think-container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    background-color: #F7F6F2;
    padding: 80px 40px;
}

.ready-to-think-content {
    margin: 0 40px 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ready-to-think-content h2 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.ready-to-think-content p {
    font-size: 16px;
    color: #627382;
}

.get-early-access {
    margin: 0 40px;
    text-align: center;
}

.shadow {
    box-shadow: 0px 10px 20px 0px #00000026;
}

.get-early-access p {
    font-size: 16px;
    color: #627382;
}

.footer {
    padding: 120px 0 0;
    background-color: #001931;
}

.footer-logo-social {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-logo-social p {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
    margin-right: 107px;
    margin-bottom: 16px;
}

.social-icon-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.social-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFFFFF;
    align-items: center;
}

.social-icon a {
    width: 11.5px;
    height: 10.75px;
    color: black;
}

.footer-copyright {
    width: 85%;
    max-width: 1360px;
    padding: 30px 0;
    margin: 0 auto;
    border-top: 0.5px solid #FAFAFA;
    
}

.footer-copyright p {
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    text-align: center;
    margin-bottom: 0;
}
